body {
    background-color: lightgray;
  }
  
  #nav {
    background-color: #ffffff;
  }
  
  .navbar-brand {
    color: #ffffff;
    background-color: #4aaaa5;
    font-size: large;
    padding: 12 20px;
      padding-top: 12px;
      padding-right: 20px;
      padding-bottom: 12px;
      padding-left: 20px;
    height: 50px;
  }
  
  .btn,
  .nav-link {
    color: #828484;
  }
  
  .nav-item #images {
    display: grid;
  }
  
  main h2, .navbar-brand {
    font-family: Georgia;
  }
  
  main {
    background-color: #ededed;
  }
  
  main h2 {
    color:#4aaaa5;
    padding-top: 50px;
  }
  
  #text {
    background-color: #ffffff;
    /* margin: 10px; */
    grid-area: main;
  }
  
  #images {
    background-color: #ffffff;
    /* margin: 10px; */
    grid-area: main;
  }
  p, .page-list{
    font-family: Garamond;
    font-size: 20px;
  }
  
  #footer {
    background-color: #4aaaa5;
    font-size: 15px;
  }
  
  .img-thumbnail {
    width: 300px;
    height: auto;
  }
  
  #table {
    background-color: #ffffff;
  }
  
  #data {
    padding-top: 25px;
    color: #4aaaa5;
  }
  
  #comp {
    background-color: #ffffff;
    padding-left: 50px;
  }
  
  h3 {
    color: #4aaaa5;
  }
  
  #comp-img {
    padding-left: 5px;
  }
  